[submodule "T1-Syntaxe/devine-mon-nombre-elarneww"]
	path = T1-Syntaxe/devine-mon-nombre-elarneww
	url = git@github.com:uvsq-info2526/devine-mon-nombre-elarneww.git
[submodule "rustlings/rustlings"]
	path = rustlings/rustlings
	url = https://github.com/rust-lang/rustlings.git
