[submodule "T1-Syntaxe/devine-mon-nombre-elarneww"]
	path = T1-Syntaxe/devine-mon-nombre-elarneww
	url = git@github.com:uvsq-info2526/devine-mon-nombre-elarneww.git
[submodule "rustlings"]
	path = rustlings
	url = git@github.com:elarneww/myrustlings-rep.git
